@import url("//hello.myfonts.net/count/3aeee0");

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_1_0.eot");
  src: font-url("cerapro/3AEEE0_1_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_1_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_1_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_1_0.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_3_0.eot");
  src: font-url("cerapro/3AEEE0_3_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_3_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_3_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_3_0.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_4_0.eot");
  src: font-url("cerapro/3AEEE0_4_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_4_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_4_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_4_0.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_5_0.eot");
  src: font-url("cerapro/3AEEE0_5_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_5_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_5_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_5_0.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_6_0.eot");
  src: font-url("cerapro/3AEEE0_6_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_6_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_6_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_6_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_7_0.eot");
  src: font-url("cerapro/3AEEE0_7_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_7_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_7_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_7_0.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_8_0.eot");
  src: font-url("cerapro/3AEEE0_8_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_8_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_8_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_8_0.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_9_0.eot");
  src: font-url("cerapro/3AEEE0_9_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_9_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_9_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_9_0.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_A_0.eot");
  src: font-url("cerapro/3AEEE0_A_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_A_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_A_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_A_0.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: font-url("cerapro/3AEEE0_B_0.eot");
  src: font-url("cerapro/3AEEE0_B_0.eot?#iefix") format("embedded-opentype"),
    font-url("cerapro/3AEEE0_B_0.woff2") format("woff2"),
    font-url("cerapro/3AEEE0_B_0.woff") format("woff"),
    font-url("cerapro/3AEEE0_B_0.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@import "bootstrap-select";
@import "datepicker";
@import "querybuilder";
@import "theme";

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.popover {
  max-width: 25%;
}

[data-toggle="popover"] {
  .fa-info-circle {
    opacity: 0.2;
  }
  &:hover {
    cursor: pointer;
    .fa-info-circle {
      opacity: 1;
    }
  }
  &:focus {
    outline: 0;
  }
}

.actions {
  position: relative;
  top: -5px;
  margin-left: 12px;
  a {
    margin-right: 5px;
  }
  .btn {
    padding: 0.07rem 0.4rem 0 0.4rem;
  }
}

.query-builder {
  width: 100% !important;
  display: block !important;
  .rule-text {
    margin-left: 10px;
  }
  .rules-group-header {
    margin-top: 20px;
  }
  .rules-group-container {
    border: 0;
    background: none;
    padding: 0;
  }
  .hide {
    display: none !important;
  }
  .rule-container {
    //background: rgba(255,255,255,0.1)!important;
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(#232a33, 0.1);
    padding: 12px 0;
  }
  .rule-value-container {
    padding-left: 0;
    border-left: 0;
    input[type="number"],
    input[type="text"] {
      padding: 0.5rem 0.75rem !important;
    }
  }
  p.filter-description {
    background: none;
    border: 0;
    color: #6e84a3 !important;
  }
  .rules-list {
    padding-left: 0;
  }
  .rules-list > ::after,
  .rules-list > ::before {
    display: none;
  }
  .separator {
    margin: 0 10px;
  }
}

.bootstrap-select {
  background: none !important;

  .btn {
    background-color: #fff;
    border-color: #d2ddec;
  }
}

.dropdown-menu {
  .disabled {
    color: rgba(#232a33, 0.3);
  }
}

.dropdown-toggle {
  &:after {
    display: none;
  }
  .svg-inline--fa {
    margin-left: 5px;
    margin-top: -5px;
  }
}

.landing {
  background: rgb(235, 79, 210);
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 25px,
    rgba(0, 0, 0, 0.005) 25px,
    rgba(0, 0, 0, 0.005) 40px
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.nav-item a:hover,
.nav-item.active {
  background: rgba(255, 255, 255, 0.1);
}
.navbar-vibrant {
  box-shadow: inset -5px 0 8px rgba(0, 0, 0, 0.1);
}

.badges {
  line-height: 2rem;
}
.badge {
  padding: 6px 10px;
  font-size: 0.8125rem;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1200px) {
  .footer-bottom {
    margin-bottom: -250px;
  }
}

.table-genres {
  td,
  th {
    padding: 0.7rem;
  }
}

.sort {
  cursor: pointer;
}

.feedback {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
  a {
    font-size: 2.8em;
    background: white;
    border-radius: 100px;
    padding: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    span {
      display: inline-block;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: rotate(20deg);
      }
    }

    &:hover {
    }
  }
  form {
    display: none;
    background: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-bottom-right-radius: 2px;
    padding: 15px;
    textarea {
      margin: 0;
    }
  }
  .thanks {
    display: none;
    background: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-bottom-right-radius: 2px;
    padding: 15px;
  }
  .form-group {
    margin-bottom: 2px;
  }
}
