@import "select2";
@import "flatpickr";
@import "querybuilder";
@import "theme";

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.query-builder {
  width: 100%!important;
  display: block!important;
  .rules-group-container {
    border: 0;
    background: none;
  }
  .hide {
    display: none!important;
  }
  .rule-container {
    background: rgba(255,255,255,0.1)!important;
    border: 0!important;
    padding: 8px;
  }
}