@import "bootstrap-select";
@import "datepicker";
@import "querybuilder";
@import "theme";

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.popover {
  max-width: 25%;
}

[data-toggle="popover"] {
  .fa-info-circle {
    opacity: 0.2;
  }
  &:hover {
    cursor: pointer;
    .fa-info-circle {
      opacity: 1;
    }
  }
  &:focus {
    outline: 0;
  }
}

.actions {
  position: relative;
  top: -5px;
  margin-left: 12px;
  a {
    margin-right: 5px;
  }
  .btn {
    padding: 0.03rem 0.4rem 0 0.4rem;
  }
}

.query-builder {
  width: 100% !important;
  display: block !important;
  .rules-group-header {
    margin-top: 20px;
  }
  .rules-group-container {
    border: 0;
    background: none;
    padding: 0;
  }
  .hide {
    display: none !important;
  }
  .rule-container {
    //background: rgba(255,255,255,0.1)!important;
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 5px 0 10px 0;
  }
  .rule-value-container {
    padding-left: 0;
    border-left: 0;
    input[type="number"],
    input[type="text"] {
      padding: 0.5rem 0.75rem !important;
    }
  }
  p.filter-description {
    background: none;
    border: 0;
    color: #6e84a3 !important;
  }
  .rules-list {
    padding-left: 0;
  }
  .rules-list > ::after,
  .rules-list > ::before {
    display: none;
  }
  .separator {
    margin: 0 10px;
  }
}

.bootstrap-select {
  background: none !important;

  .btn {
    background-color: #fff;
    border-color: #d2ddec;
  }
}

.dropdown-menu {
  .disabled {
    color: rgba(255, 255, 255, 0.1);
  }
}

.dropdown-toggle {
  &:after {
    display: none;
  }
  .svg-inline--fa {
    margin-left: 5px;
    margin-top: -5px;
  }
}
