<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">

        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="header-pretitle">Playlist</h6>
                <h1 class="header-title"><%= @playlist.name %></h1>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <%= form_for @playlist, html: {class: ''} do |f| %>
              <%= render "form", f: f %>
              <button type="submit" class="btn btn-primary mb-2">Update Playlist</button>
            <% end %>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
