<% title "Labs" %>
<% content_for :head do %>
<script src="https://d3js.org/d3.v5.min.js"></script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-12 p-5 text-center">
      <%= link_to image_tag('logo-full.svg', class: 'img-fluid mt-n5 mb-2 pt-5', style: 'max-width:275px'), root_path, class: '' %>
    </div>
  </div>

  <div class="card">
    <div class="card-body p-5">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="display-1 mb-0 text-center">Music Labs</h1>
          <h2 class="text-muted text-center">Let's try some weird things out!</h2>

          
        </div>
      </div>
    </div>
  </div>
</div>